body {
  background-image: url("../assets/login-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.login-container {
  width: 533px;
  height: 570px;
  background: radial-gradient(
    circle,
    rgba(62, 45, 143, 1) 0%,
    rgba(63, 45, 146, 1) 35%,
    rgba(53, 44, 90, 1) 72%,
    rgba(48, 43, 65, 1) 97%
  );
  box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(50px);
  border-radius: 8px;
  padding: 80px 62px;
  box-sizing: border-box;
}

input {
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  padding: 10px 0;
  width: 100%;
}

.login-container__loginization {
  margin: 52px 0;
}

.login-container__form {
  display: flex;
  flex-direction: column;
  gap: 40px; /* this replaces form:first-of-type margin */
}

.login-container__input-group {
  display: flex;
  align-items: center;
  border-bottom: 0.5px solid #ffffff66;
}

.login-container__input-group img {
  margin: 0 20px;
}

.login-container__button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container__button-group > button {
  width: 300px;
  height: 50px;
  box-shadow: 1px 9px 15px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 18px;
  cursor: pointer;
}

.login {
  background: linear-gradient(
    96.76deg,
    #ffc727 -16.42%,
    #9e40ba 97.04%,
    #7000ff 150.71%
  );
  color: #fbfbfb;
}

.register {
  background: #fcfcfc;
  border: 1px solid #4a56e2;
  color: #623f8b;
  margin-top: 20px;
}
.progress-bar {
    width: 100%;
    height: 4px;
    background-color: #cccccc; /* серая линия */
    border-radius: 2px;
    overflow: hidden;
    margin-top: 10px;
  }
  

  